h1 {
    width: 100%;
    text-align: center;
}

.button, form {
    display: flex;
    justify-content: center;
}

button {
    padding: 5px 15px;
    font-size: 18px;
}

.song-results {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

.song-parts {
width: 46%;
border: 1px solid tomato;
padding: 10px;
}

h5 {
    margin: 25px 40px;
}

a {
    font-size: 10px;
    color: black;
}

.top-tracks {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid teal;
}

h2 {
    width: 100%;
    text-align: center;
}